body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
  position: relative;
}

body,
.snake {
  background-color: #414141;
}

#game-board {
  border-radius: 00px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  position: relative; /* Add position relative */
}

/* .game-border-1 {
  border: #000000 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #000000;
}

.game-border-2 {
  border: #0400ff solid 8px;
  border-radius: 0px;
  box-shadow: inset 0 0 0 10px #1f1f1f;
} */

.game-border-3 {
  border: #9b06af solid 00px;
  border-radius: 0px;
  box-shadow: inset 0 0 0 5px #000000;
}

.scores {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
  color: #ffffff;
}

#highScore {
  display: none;
}

.game-border-3,
#logo {
  background-color: #e7e7e7;
}

.snake {
  border: #000000 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
}

#instruction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
  z-index: 1;
}

#title {
  text-align: center;
  font-size: 60px;
}

#footer {
  text-align: center;
}
